<!DOCTYPE html>
<html class="{{ if .IsHome }}home{{ end }}" lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    {{- partial "build_assets.html" . -}}
    <body>
        <div id="baseContainer">
            {{- partial "header.html" . -}}
            <div id="contentContainer">
                <div id="content">
                    <main>
                        {{- block "main" . }}{{- end }}
                    </main>
                    {{- partial "footer.html" . -}}
                </div>
            </div>
        </div>
        {{- partial "plausible.html" . -}}
        {{- partial "umami.html" . -}}
        {{- partial "inject/body.html" . -}}
	{{ block "footer-scripts" . }}
  <script src="{{ "js/mermaid.min.js" | relURL }}"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    mermaid.initialize({ startOnLoad: true });
  });
  </script>
{{ end }}
    </body>
</html>
