<!-- modify this form HTML and place wherever you want your form -->
<!-- modify this form HTML and place wherever you want your form -->
<div>
<form
  action="https://formspree.io/f/mpzeozgl"
  method="POST"
>
  <label>
    E-mail:
    <input type="email" name="email" placeholder="micorreo@dominio.ltd">
  </label>
  <br />
  <label>
    Mensaje:
    <textarea name="message" rows="4" cols="100%" placeholder="Mensaje"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Enviar</button>
</form>
</div>